body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #ff1a1a;
}

button {
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #c3ff00;
  color: rgb(255, 0, 251);
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 15px;
  font-weight: bold;
  color: rgb(13, 0, 196);
}
